body{
  background-color: #fafafa;
}

.margin-top-1{
  margin-top: 1%;
}
.margin-top-2{
  margin-top: 2%;
}
.margin-top-3{
  margin-top: 3%;
}
.margin-top-4{
  margin-top: 4%;
}
.margin-top-5{
  margin-top: 5%;
}
.margin-top-20{
  margin-top: 20%;
}

.padding-1{
  padding: 1%!important;
}
.padding-2{
  padding: 2%!important;
}
.padding-3{
  padding: 3%!important;
}
.padding-4{
  padding: 4%!important;
}

.my-form {
  transition:all linear 0.5s;
  background: transparent;
}
.my-form.ng-invalid {
  background: red;
}

@font-face {
  font-family: Aquatico;
  src: url(./fonts/Aquatico-Regular.otf);
}
.texto-myriad{
  font-family: "Myriad Pro";
}

@font-face {
  font-family: Moon;
  src: url(./fonts/Moon2.0-Regular.otf);
}
.texto-moon{
  font-family: Moon;
}


.texto-Aquatico{
  font-family: Aquatico;
}

@font-face {
  font-family: BebasNeue;
  src: url(./fonts/BebasNeue.otf);
}

.texto-BebasNeue{
  font-family: BebasNeue;
}

nav{
  font-family: BebasNeue;
  z-index: 9999;
}
.text-50{
  font-size: 30px!important;
  color: white;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.elements-container{
  position: absolute;
  z-index: 1000;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  /* color: white; */
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
footer.page-footer {
  margin: 0;
}
.card-organizador{
  background-color : #795548;
  border-radius: 5px;
  position: relative;
  margin-top: 150px;
}
.card-text-paralax{
  background: white;
  opacity: 0.6;
  margin-top: 7%;
}
.text-justify{
  text-align: justify;
}
.circle-img{
  border-radius: 100%;
}
.texto-organizadores{
  font-color : #210D18;
}
.circle-img-palestrante{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}


.center-text-img{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin-top{
  margin-top: 40px;
}
.relative{
  position: relative;
}
.card-rounded{
  padding: 15% 3% 3% 3%;
  border-radius: 100%;
  border: 5px solid #ffe0b2 ;
  width: 200px;
  margin: 0 auto; 
  position: relative;
  height: 200px;
}

.card-palestrante{
  background-color: #fbc02d;
  border-radius: 20px;
  padding: 2%;
  font-family : BebasNeue;
  margin: 10px auto; 
  position: relative;
  text-align: center;
  height: 498px;
}
.card-palestrante div{
  background-color: #fff9c4;
  border: 8px solid #f5f5f5;
  border-radius: 20px;
  padding: 10% 2% 10% 2%;
  height: 100%;
  width: 100%;
}
.img-oasis{
  border-radius: 20px;
  border: 8px solid #fbc02d;
}
.img-org-left{
  position: absolute;
  left: -200px;
  top: -120px;
}

.img-org-right{
  position: absolute;
  right: -200px;
  top: -120px;
}

nav ul a {
  font-size: 2rem!important;
}

.modal-login{
  top: 20%!important;
  width: 27%!important;
  overflow: hidden;
}

.picker__date-display {
  background-color: #795548!important;
}

li>span {
  color: #795548;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #795548;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #f50057;
}
.picker__today, .picker__clear {
  color: #f50057;
}
.picker__close, .picker__today, .picker__clear {
  color: #f50057;
}
