<nav class="yellow darken-2 sticky " role="navigation">
    <ul id="slide-out" class="side-nav">
        <li><a class="text-50 scrollSuave" href="#inicio">Sobre</a></li>
        <li><a class="text-50 scrollSuave" href="#palestrantes">Palestrantes</a></li>
        <li><a class="text-50 scrollSuave" href="#organizadores">Organizadores</a></li>
        <li><a class="text-50 scrollSuave" href="#patrocinadores">Patrocinadores</a></li>
        <li><a class="text-50 scrollSuave" href="#localizacao">Local</a></li>
        <li class="pink accent-3"><a class="text-50 " ng-click="inscrever()">Inscrever-se</a></li>
        <li class="brown darken-2"><a class="text-50" ng-show="!usuarioLogado.logado" ng-click="pageLoginMob()">Login</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header" ng-show="usuarioLogado.logado">{{usuarioLogado.nome}}<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a ng-click="sair()">Sair</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a class="text-50 scrollSuave" href="#inicio">Sobre</a></li>
        <li><a class="text-50 scrollSuave" href="#palestrantes">Palestrantes</a></li>
        <li><a class="text-50 scrollSuave" href="#organizadores">Organizadores</a></li>
        <li><a class="text-50 scrollSuave" href="#patrocinadores">Patrocinadores</a></li>
        <li><a class="text-50 scrollSuave" href="#localizacao">Local</a></li>
        <li class="pink accent-3"><a class="text-50 " ng-show="usuarioLogado.logado" ng-click="inscrever()">Alterar dados</a></li>
        <li class="pink accent-3"><a class="text-50 " ng-show="!usuarioLogado.logado" ng-click="inscrever()">Inscrever-se</a></li>
        <li class="brown darken-2"><a class="text-50 modal-trigger" ng-show="!usuarioLogado.logado" data-target="ModalLogin">Login</a></li>
        <li class="brown darken-2"><a class="dropdown-button" ng-show="usuarioLogado.logado" data-activates="dropdown1">{{usuarioLogado.nome}}<i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a ng-click="sair()">Sair</a></li>
        </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</nav>
<div id="index-banner" class="parallax-container hide-on-small-only">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center card-text-paralax">
                <h2 class="header col s12 light">
                    Miragem para quê?<br>
                    No Oasis tudo pode acontecer
                </h2>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./img/menina.png" alt="Unsplashed background img 1"></div>
</div>
<div class="container " id="inicio">
    <br>
    <br>
    <h2 class="texto-moon center-align">
        Conheça Oasis
    </h2>
    <br>
    <br>
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="./img/oasis.jpeg" class="z-depth-3 img-oasis" width="100%" height="auto">
        </div>
        <div class="col s12 m6 l6 padding-4 margin-bottom-5">
            <h4 class="text-justify texto-h4 ">
                Um festival que agitará mais de 9
                milhões Km², criando o seu Oasis
                à beira do Rio Nilo em pleno deserto
                do Saara. </h4>
            
            <h4 class = "texto-h4">Serão 3 dias com:</h4>

            <ol style="list-style:circle">
                <li><h5 class = "texto-h5"> Muita refrescância;</li></h5>
                <li><h5 class = "texto-h5"> Os melhores sorvetes;</li></h5>
                <li><h5 class = "texto-h5"> Palestras de chefes que mudaram
                    a maneira de como se faz um verdadeiro
                    sorvete.
                </li></h5>
            </ol>
        </div>
    </div>
</div>

<div id="index-banner" class="parallax-container hide-on-small-only">
    <!-- <div class="section no-pad-bot">
        <div class="container">
            <div class="row center card-text-paralax">
                <h2 class="header col s12 light">
                    Miragem para que?<br>
                    No Oasis tudo pode acontecer
                </h2>
            </div>
        </div>
    </div> -->
    <div class="parallax"><img src="./img/ice-cream-a.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="center container" id = "palestrantes" >
    <br><br>
    <h3 class="texto-moon center-align">
        Palestrantes
    </h3>
    <br><br>
    
    <div class = "row">
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4" src="./../img/palestrante_1.jpg" alt="">
                        <br>
                        <h3>TOMISHA OTA</h3>
                        <h4 class="texto-h4-back grey-text text-darken-1">The Biotherapy Development Research Center</h4>
                    </div>
                <div class="side back">
                    <h4 class="texto-h4-back grey-text text-darken-1 center-text-img">EXTRATO DE MORANGO 
                            CHAVE PARA O DERRETIMENTO DE SORVETES</h4>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4" src="./../img/palestrante_2.jpeg" alt="">
                        <br>
                        <h3>AJA CAGE</h3>
                        <h4 class="texto-h4-back grey-text text-darken-1">Instituto Culinário da Pennsylvania</h4>
                    </div>
                    <div class="side back">
                        <h4 class="grey-text texto-h4-back text-darken-1 center-text-img">Pioneira em sobremesas de sorvete com sabor Frango Frito</h4>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4" src="./../img/palestrante_3.jpeg" alt="">
                        <br>
                        <h3>Francisco S.</h3>
                        <h4 class="texto-h4-back grey-text text-darken-1">Chef Glacier Brasileiro</h4>
                    </div>
                    <div class="side back">
                        <h4 class="texto-h4-back grey-text text-darken-1 center-text-img">Tudo sobre sua Escola de Sorvete</h4>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4" src="./../img/palestrante_7.png" alt="">
                        <br>
                        <h3>Luca Lenzi</h3>
                        <h4 class=" texto-h4-back grey-text text-darken-1">Fiorentino dono da Lullo Gelato em BH</h4>
                    </div>
                    <div class="side back">
                        <h4 class="texto-h4-back grey-text text-darken-1 center-text-img">Com produção artesanal, conta como criar o sabor perfeito</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4" src="./../img/palestrante_4.jpg" alt="">
                        <br>
                        <h3>Sergio Dondoli</h3>
                        <h4 class="texto-h4-back grey-text text-darken-1">Mestre sorveteiro da Gelateria di Piazza</p>
                    </div>
                    <div class="side back">
                        <h4 class="texto-h4-back grey-text text-darken-1 center-text-img">Premiado como o melhor chocolate do mundo 5 vezes contará sobre seus cursos e sua história no ramo da sorveteria</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4" src="./../img/palestrante_5.jpeg" alt="">
                        <br>
                        <h3>BEN E JERRY</h3>
                        <h4 class="texto-h4-back grey-text text-darken-1">Fundadores da empresa Ben&Jerry’s</p>
                    </div>
                    <div class="side back">
                        <h4 class="texto-h4-back grey-text text-darken-1 center-text-img">Um pouco sobre como atingiram sucesso no ramo de sorvetes e picolés</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4 z-depth-4" src="./../img/palestrante_6.jpg" alt="">
                        <br>
                        <h3>CHARLIE FRANCIS</h3>
                        <h4 class="texto-h4-back grey-text text-darken-1">Chef Britânico</h4>
                    </div>
                    <div class="side back">
                        <h4 class="texto-h4-back grey-text text-darken-1 center-text-img">O sorvete que brilha no escuro ao ser tocado pela língua do consumidor</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card-container">
                <div class="card z-depth-4">
                    <div class = "side">
                        <img class="circle-img-palestrante z-depth-4 z-depth-4" src="./../img/palestrante_8.jpeg" alt="">
                        <br>
                        <h3>Peter B.Letmathe</h3>
                        <h4 class="texto-h4-back grey-text text-darken-1">Conselho de Administração da NESTLÉ S.A.</h4>
                    </div>
                    <div class="side back">
                        <h4 class="texto-h4-back grey-text text-darken-1 center-text-img">Rumo ao sucesso, conselhos de um conselheiro</h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<br>
<br>
<br>

<div class="parallax-container valign-wrapper hide-on-small-only">
    <!-- <div class="section no-pad-bot">
        <div class="container">
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        </div>
    </div> -->
    <div class="parallax"><img src="./img/ice-c.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container" id="organizadores">
    <br><br>
    <h3 class="texto-moon center-align">
        Organizadores
    </h3>
    <br><br>
    <div class= "row">
        <div class="col s12 m4 l4 center">
            <img class="z-depth-4 circle margin-top-3 img-org" src="./../img/organizadores.jpg">
        </div>
        <div class="col s12 m8 l8">
            <h4 class="center-align">
                BEN & JERRY
            </h4>
            <p class="flow-text text-justify">
                AMIGOS DESDE O SETIMO ANO, DOIS ALUNOS NADA EXEMPLARES, MAS
                QUE COM O PASSAR DOS ANOS CONSEGUIRAM LEVAR A FELICIDADE A MUITOS LUGARES E PESSOA
            </p>
        </div>
        <br>
        <br>
    </div>
</div>
<br>
<br>

<div class="parallax-container valign-wrapper hide-on-small-only">
    <!-- <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div> -->
    <div class="parallax"><img src="../img/iceicebaby.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container" id="patrocinadores">
    <br><br>
    <h3 class="texto-moon center-align">
        Patrocinadores
    </h3>
    <br><br>
    <div class="row center-align">
        <div class="col s12 m4 l4">
            <div class="card-rounded z-depth-4" style="padding: 20% 4% 4% 4%;">
                <img src="../img/coca.png" width="100%" height="auto">
            </div>
        </div>
        <div class="col s12 m4 l4 ">
            <div class="card-rounded z-depth-4" style="padding: 20% 4% 4% 4%;">
                <img src="../img/kell.png" width="100%" height="auto">
            </div>
        </div>
        <div class="col s12 m4 l4 ">
            <div class="card-rounded z-depth-4" style="padding: 8% 8% 8% 8%;"> 
                <img src="../img/nestle.png" width="100%" height="auto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 offset-m2 offset-l2 m3 l3">
            <div class="card-rounded z-depth-4" style="padding: 26% 4% 4% 4%;">
                <img src="../img/pepsico.png" width="100%" height="auto">
            </div>
        </div>
        <div class="col s12 offset-m2 offset-l2 m3 l3">
            <div class="card-rounded z-depth-4" style="padding: 5% 5% 5% 5%;">
                <img src="../img/unilever.png" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper hide-on-small-only">
    <!-- <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div> -->
    <div class="parallax"><img src="../img/eat.jpg" alt="Unsplashed background img 3"></div>
</div>
<!-- <div class="red"> -->
<div class="container" id="localizacao">
    <br><br>
    <h3 class="texto-moon center-align">
        Localização
    </h3>
    <br><br>
    <div class="row">
        <div class="col s12 m6 l6 center">
            <img class  = "local" src="../img/local.png" width="65%" height="auto">
        </div>
        <div class="col s12 m6 l6">
            <h4 class="texto-h4 text-justify">
                NÃO SOU UMA MIRAGEM!
            </h4>
            <p class=" text-justify">
                O melhor sorvete do deserto do saara estara situado ao norte da
                Africa a beira do Rio Nilo. Contamos aqui com transportes turisticos
                então se preoculpe somente em chegar.
                Contamos tambem com um excelente Heliporto, onde Oasis
                estara buscando os convidados de nosso evento.
                Esperamos a sua visita para o mais divertido e refrescante evento
                que voce pode obter!
            </p>
        </div>
    </div>
</div>
<!-- </div> -->
<div id="ModalLogin" class="modal modal-login" ng-controller="loginCtrl">
    <form nome="loginform">
        <div class="modal-content">
            <div class="row center">
                <div class="col s12 center">
                    <h4 class="texto-Aquatico">Entrar no Oasis</h4>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l12 m12">
                    <label for="email">E-Mail</label>
                    <input ng-model="usuario.login" id="email" type="email" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l12 m12">
                    <label for="password">Senha</label>
                    <input ng-model="usuario.senha" id="password" type="password" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer center">
        <div class="row">
            <div class="col s12 center">
                <button class="btn brown darken-2 modal-close texto-Aquatico">Fechar</button>
                <button class="btn yellow darken-2 waves-effect waves-light texto-Aquatico" ng-disabled="myForm.$invalid" ng-click="doLogin()">Login</button>
            </div>
        </div>
    </form>
</div>