<!DOCTYPE html>
<html lang="pt-BR" ng-app="index" ng-controller="indexController">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Saara Ice</title>
    <!-- CSS  -->
    <link rel='icon' type='image/png' href='images/favicon.png' />
    <link rel="stylesheet" href="../css/fonts/material-icons/material-icons.css">
    <link href="../css/util/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="shortcut icon" type="image/png" href="./../img/favicon.png"/>
  </head>
  <body>
    <main ng-view>

    </main>
    <footer class="page-footer yellow darken-2">
      <div class="footer-copyright">
        <div class="container white-text">
          © 2018 Oasis Ice Cream Festival - Compjunior Trainee
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-cookies.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <script src="../js/angular-materialize.min.js"></script>
    <script src="../js/angular-md5.min.js"></script>
    <!-- <script src="js/angular-ui-router.min.js"></script> -->
    <!-- controllers -->
    <script src="../controllers/index.js"></script>
    <script src="../controllers/inscrever.js"></script>
    <script src="../controllers/home.js"></script>
    <script src="../controllers/login.js"></script>
    <script src="../controllers/conteudo-home.js"></script>
    <script src="../services/request.js"></script>
    <script src="../services/helper.js"></script>
  </body>
</html>





