<nav class="yellow darken-2 sticky" role="navigation">
    <ul id="slide-out" class="side-nav">
        <li><a class="text-50" ng-click="goToHome()">Início</a></li>
    </ul>
    <div class="container">
        <ul class="left container hide-on-med-and-down">
            <li><a class="text-50" ng-click="goToHome()">Início</a></li>
        </ul>
    </div>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</nav>
<div>
    <form nome="loginform">
        <div class="row center">
            <div class="col s12 center">
                <h4 class="texto-Aquatico">Entrar no Oasis</h4>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l12 m12">
                <label for="email">E-Mail</label>
                <input ng-model="usuario.login" id="email" type="email" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l12 m12">
                <label for="password">Senha</label>
                <input ng-model="usuario.senha" id="password" type="password" required>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s12 center">
            <button class="btn brown darken-2 texto-Aquatico" ng-click="goToHome()">Voltar</button>
            <button class="btn yellow darken-2 waves-effect waves-light texto-Aquatico" ng-disabled="loginform.$invalid" ng-click="doLogin()">Login</button>
        <div class="row">
            <div class="col s12 center">
                <button class="btn modal-close yellow darken-2 texto-Aquatico" ng-click="goToHome()">Cancelar</button>
                <button class=" brown darken-2 btn waves-effect waves-light texto-Aquatico" ng-disabled="loginform.$invalid" ng-click="doLogin()">Login</button>
            </div>
        </div>
    </form>
</div>