body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

main {
  flex: 1 0 auto;
}
.margin-top-15{
  margin-top: 15%;
}
.progress {
  background-color: rgba(1, 110, 240,0.3);
}
.text-center{
  text-align: center;
}
.padding{
  padding: 5%;
}
.padding-1{
  padding: 1%!important;
}
.padding-2{
  padding: 2%!important;
}
.padding-3{
  padding: 3%!important;
}
.padding-4{
  padding: 4%!important;
}
.padding-5{
  padding: 5%!important;
}
.padding-10{
  padding: 10%!important;
}

.margin-0{
  margin: 0px!important;
}

.tabs .tab a {
  color: rgba(1, 110, 240,0.5);
}

.img-text{
  opacity: 0.6;
  background-color: #000;
  color: white;
  margin-top: 1%;
}

.tabs .indicator {
  background-color: #016EF0;
}
.tabs .active {
  color: #016EF0!important;
}

.tabs{
  margin-bottom: 2%;
  
}

.tabs .tab {
  line-height: 59px!important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  /* color: #343434; */
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.img-back{
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
    width: 100%;
    height: auto;
}

.cor-texto{
  color: #343434;
}

.text-justify{
  text-align: justify;
}

.card:hover, .card:active, .card:focus{
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition:transform 0.25s ease-in-out;
  -ms-transition:transform 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
                      0 3px 14px 2px rgba(0,0,0,0.12), 
                      0 5px 5px -3px rgba(0,0,0,0.3);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
              0 3px 14px 2px rgba(0,0,0,0.12), 
              0 5px 5px -3px rgba(0,0,0,0.3);
}

.sem-padding-td td{
  padding: 0px;
}

.google {
  background: url('./icons/if_1-01_2270785.svg');
}
.facebook {
  background: url('./icons/if_1-03_2270784.svg');
}

.instagram {
  background: url('./icons/if_1-04_2299378.svg');
}

.linkedin {
  background: url('./icons/if_1-08_2299376.svg');
}

.tweeter {
  background: url('./icons/if_1-12_2270775.svg');
}
.email {
  background: url('./icons/if_1-03_2308537.svg');
}

.sgv-icon{
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  /* margin-left: 24%; */
  /* background-size: 100px 82px; */
}

.foto-redonda{
  border-radius: 100%;
}

timeline-panel {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                      0 1px 5px 0 rgba(0,0,0,0.12), 
                      0 3px 1px -2px rgba(0,0,0,0.2)!important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
              0 1px 5px 0 rgba(0,0,0,0.12), 
              0 3px 1px -2px rgba(0,0,0,0.2)!important;
}
.tabs.tabs-fixed-width {
  overflow: hidden;
}

timeline-panel:hover, timeline-panel:active, timeline-panel:focus{
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition:transform 0.25s ease-in-out;
  -ms-transition:transform 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
                      0 3px 14px 2px rgba(0,0,0,0.12), 
                      0 5px 5px -3px rgba(0,0,0,0.3) !important;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
              0 3px 14px 2px rgba(0,0,0,0.12), 
              0 5px 5px -3px rgba(0,0,0,0.3)!important;
}
